body {
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  font-family: "SiteFont", system-ui, -apple-system, sans-serif;
}
